.header
  .side.side_left.side_center
    a.header__logo(href='#/')
      img.image(src='assets/images/logo.svg')

  .side.side_right.side_center
    span.header__text {{ items.length }} предложений 
      span.hide-s от проверенных продавцов 
      span в Минске
    a.btn.btn_white.header__btn(href='#/auto/new') Разместить предложение

.section
  .side.side_left
  .side.side_right.side_column
    .content
      .content-item(ng-repeat="item in items")
        .content-item__inner
          a.link.content-item__preview(href='#/auto/{{ item.id }}')
            img.content-item__image(src='{{ item.image }}')
            span.content-item__price {{ item.price }} $
          .content-item__info
            .content-item__string
              a.link.content-item__param(href='#/auto/{{ item.id }}') {{ item.auto }}
            .content-item__string
              span.content-item__param {{ item.year }}
              span.content-item__param {{ item.milage }} км
              span.content-item__param {{ item.engine }}
    ul.pagination.pagination_after
      li.pagination__item
        a.link.pagination__link.pagination__link_active(href='#/page/1') 1
      li.pagination__item
        a.link.pagination__link(href='#/page/2') 2
      li.pagination__item
        a.link.pagination__link(href='#/page/3') 3
      li.pagination__item
        a.link.pagination__link(href='#/page/4') 4
      li.pagination__item
        a.link.pagination__link(href='#/page/5') 5

.footer
  .side.side_left &copy; Автохаб 2015

  .side.side_right
    .footer__links
      a.link.footer__links-item(href='#/privacy') Правовое соглашение
      a.link.footer__links-item(href='#/support') Техническая поддержка
    .footer__copyright Сделано в 
      a.link(href='//skrotskystudio.by', target='_blank') Студии Вадима Скротского