.side.side_left.hide-s
  .filter
    .filter__item.link(ng-repeat='filter in [0,1,2,3,4,5]')
      span Параметр
      a.link(href='#/')
        i.icon.icon_delete
.side.side_right.side_column
  .content
    .content-item(ng-repeat='item in items')
      .content-item__inner
        a.link.content-item__preview(href='#/auto/{{ item.id }}')
          img.content-item__image(src='{{ item.thumb }}')
          span.content-item__price {{ item.price }} $
        .content-item__info
          .content-item__string
            a.link.content-item__param(href='#/auto/{{ item.id }}') {{ item.name }} {{ item.model }}
          .content-item__string
            span.content-item__param {{ item.year }}
            span.content-item__param {{ item.milage }} км
            span.content-item__param {{ item.engine }}
            span.content-item__param {{ item.volume }}
            span.content-item__param {{ item.transmission }}
  ul.pagination.pagination_after
    li.pagination__item(ng-repeat='page in pages')
      a.link.pagination__link(ng-model='model.page' ng-class='{pagination__link_active: page.id == $parent.model.page}', ng-click='$parent.model.page = page.id') {{ page.id }}