.footer
  .side.side_left.side_pl &copy; Автохаб 2015

  .side.side_right
    .footer__links.hide-s
      a.link.footer__links-item(href='#/privacy') Правовое соглашение
      a.link.footer__links-item(href='#/support') Техническая поддержка
    .footer__copyright.hide-m Сделано в 
      a.link(href='//skrotskystudio.by', target='_blank') Студии Вадима Скротского