.header
  .side.side_left.side_pl.side_center
    a.header__logo(href='#/')

  .side.side_right.side_center
    span.header__text.hide-s {{ items.length }} предложений 
      span.hide-m от проверенных продавцов 
      span в Минске
    .header__right
      a.link.header__item.show-s(href='#/auto/new')
        i.icon.icon_add
      a.link.header__item.show-s(href='#/auto/new')
        i.icon.icon_filter
      a.btn.btn_white.header__item.hide-s(href='#/auto/new') Разместить предложение