doctype
html(lang='en', ng-app='ah')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title Автохаб

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='assets/styles/vendor.css')
    link(rel='stylesheet', href='assets/styles/app.css')

  body
    div(class='page', ng-view)

    script(src='scripts/vendor.js')
    script(src='scripts/app.js')