@import "fonts.styl"
@import "mixins.styl"

*
  box-sizing border-box
  
a:link
a:visited
  color #666
  
a:hover
  color #333

html
  background-color #f5f6f7
  
body
  font 14px 'Roboto', 'Helvetica Neue', Helvetica, Arial
  color #999

.hide-l
  display none
  
.page
  display flex
  flex-direction column
  min-height 100vh
  max-width 1200px
  margin 0 auto
  
.side
  display flex
  
  &_left
    flex-basis 220px
    
  &_right
    padding 0 20px
    flex 1
    
  &_center
    align-items center
    
  &_section
    
  &_column
    flex-direction column
      
.header
  display flex
  height 40px
  margin 20px 0 40px 0
    
  &__logo
    display flex
    padding-left 20px
    
  &__text
    color #999
      
  &__btn
    margin-left auto
    
.section
  display flex
  flex 1
    
.content
  display flex
  flex-wrap wrap
  margin 0 -10px
    
  &-item
    position relative
    width 33.333%
    min-width 260px
    padding 0 10px 20px 10px
    transition all .3s
    
    &__inner
      position relative
      top 0px
      border-radius 3px
      box-shadow 0px 1px 5px 0px rgba(0,0,0, .1)
      transition top .2s, box-shadow .2s
      
      &:hover
        top: -3px
        box-shadow 0px 2px 8px 0px rgba(0,0,0, .2)
    
    &__preview
      display block
      position relative
      background #ececec
      min-height 160px
      
    &__image
      display block
      border-radius 3px 3px 0 0
      width 100%
      height auto
      
    &__price
      position absolute
      left 0
      bottom 0
      width 100%
      padding 10px
      font-size 20px
      font-weight bold
      background transparent
      color #fff
      text-shadow 0px 1px 2px rgba(0,0,0, .5)
      
    &__info
      border-radius 0px 0px 3px 3px
      padding 10px
      
    &__string
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      
    &__param
      margin-right 10px
      
.link
  text-decoration none
  transition all .2s ease-in
      
.btn
  padding 0 20px
  line-height 40px
  background transparent
  box-shadow 0px 1px 5px 0px rgba(0,0,0, .1)
  border-radius 3px
  text-decoration none
  
  &_white
    background #fff
    
.pagination
  clearfix()
  margin 0
  padding 0
  list-style none
  
  &_after
    margin-top 20px
    
  &__item
    clearfix()
    float left
    
  &__link
    display block
    line-height 40px
    border 1px solid transparent
    padding 0 17px
    border-radius 3px
    cursor pointer
    
    &_active
      color #9d9d9d !important
      border-color #dcdcdc
      cursor default
      pointer-events: none;

.footer
  display flex
  margin 40px 0 20px 0
    
  &__links
    &-item
      margin-right 20px
  &__copyright
    margin-left auto
    
@media (max-width 1020px)

  .hide-m
    display none

  .content
    &-item
      width 50%
      
@media (max-width 760px)

  .hide-s
    display none
    
@media (max-width 540px)

  .hide-xs
    display none
    
  .content
    &-item
      width 100%